<div class="container m-t-20">
  <div class="row">
    <form class="col-12">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">UserName</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" placeholder="username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" (click)="loginUser()">Đăng nhập</button>
        </div>
      </div>
    </form>
  </div>
</div>
